:root {
    --green: rgb(0, 191, 111);
}

html {
    font-size: 100%;
    background-color: #fff;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 0;
    color: #6d6d6d;
    line-height: 24px;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 0;
    text-decoration: none;
}


/* Navigationsbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    align-content: space-between;
    background-color: white;
    width: 92vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.navbar a {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
}

.navbar-logo {
    display: inline-block;
}

#myLinks {
    display: none;
}


/* burger menu */

.burger {
    font-size: 2rem;
}

#mobileLinks a {
    color: var(--green);
    text-align: left;
    padding-top: 2%;
    text-transform: uppercase;
    font-size: 16px;
}

#mobileLinks {
    display: none;
    background-color: white;
    text-decoration: none;
    flex-direction: column;
    padding-bottom: 3%;
    padding-top: 1%;
}

.bannerImg {
    width: 92vw;
    height: 30vw;
    object-fit: cover;
    margin-top: 10vw;
}

.btntop {
    display: none;
}

.månedbtn {
    display: none;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 50px;
}

.knap-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-right: 200px;
}

.kategoribtn {
    background-color: transparent;
    color: #6d6d6d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    border-color: #00BF6F;
    width: 300px;
    margin: 10px;
    cursor: pointer;
    background-position: 15px 0px;
    background-repeat: no-repeat;
}

.kategoribtn:hover {
    background: #00BF6F;
    background-position: 15px 0px;
    background-repeat: no-repeat;
    color: white;
}

#udendørs {
    background-image: url("img/udendørsicon.svg");
}

#begivenheder {
    background-image: url("img/begivenhedericon.svg");
}

#indendørs {
    background-image: url("img/indendørsicon.svg");
}

#barsel {
    background-image: url("img/barselicon.svg");
}

.loungeicon {
    display: none;
}

.banner p {
    position: absolute;
    margin-top: 45px;
    color: white;
    font-size: 8px;
    font-weight: 500;
    margin-left: 0px;
}

@media screen and (min-width:540px) {
    .banner p {
        position: absolute;
        margin-top: 55px;
        color: white;
        font-size: 12px;
        font-weight: 500;
        margin-left: 0px;
    }
}

@media screen and (min-width:638px) {
    .banner p {
        position: absolute;
        margin-top: 75px;
        color: white;
        font-size: 12px;
        font-weight: 500;
        margin-left: 0px;
    }
}

@media screen and (min-width:815px) {
    .banner p {
        position: absolute;
        margin-top: 90px;
        color: white;
        font-size: 15px;
        font-weight: 500;
        margin-left: 0px;
    }
}

#udvalgte {
    margin-top: 100px;
}

.artikler {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.artikel-img {
    height: auto;
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.artikel-tekst {
    width: 250px;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    margin-top: 375px;
    padding: 10px;
    margin-left: 15px;
}

.artikel-tekst h3 {
    color: black;
    margin-top: 10px;
}

.kategori-heading {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;
}

.h1-icon {
    height: 125px;
    width: auto;
    margin-top: 50px;
}

.hide {
    display: none;
}

.måneder-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.måneder {
    background-color: transparent;
    color: #00BF6F;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    border-color: #00BF6F;
    width: 120px;
    height: 30px;
    cursor: pointer;
    background-position: 15px 0px;
    background-repeat: no-repeat;
    margin: 10px;
}

.måneder:hover {
    background: #00BF6F;
    background-position: 15px 0px;
    background-repeat: no-repeat;
    color: white;
}

.green {
    background: #00BF6F;
    color: white;
}

@media screen and (min-width:950px) {
    /* fjerner burger */
    .navbar a.icon {
        display: none;
    }
    #mobileLinks {
        display: none;
    }
    /* Viser desktop */
    #myLinks {
        display: flex;
        position: sticky;
        float: right;
        align-items: flex-end;
        justify-content: flex-end;
    }
    #myLinks a {
        display: flex;
        color: var(--green);
        text-decoration: none;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 32px;
        padding-bottom: 32px;
        color: black;
    }
    #myLinks a:hover {
        color: rgb(0, 191, 111);
    }
    #myLinks a:visited {
        color: rgb(0, 191, 111);
    }
    .btntop {
        position: absolute;
        z-index: 6;
        margin-top: 380px;
    }
    .bamseicon {
        height: 40px;
        width: auto;
    }
    h1 {
        color: black;
        text-align: center;
        margin-top: 50px;
    }
    .månedbtn {
        width: 200px;
        height: auto;
        margin-left: 80px;
        cursor: pointer;
    }
    .knap-container {
        display: flex;
        flex-wrap: wrap;
        margin-left: 250px;
        margin-right: 200px;
    }
    .kategoribtn {
        background-color: transparent;
        color: #6d6d6d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 30px;
        border-color: #00BF6F;
        width: 300px;
        margin: 10px;
        cursor: pointer;
        background-position: 15px 0px;
        background-repeat: no-repeat;
    }
    .kategoribtn:hover {
        background: #00BF6F;
        background-position: 15px 0px;
        background-repeat: no-repeat;
        color: white;
    }
    #udendørs {
        background-image: url("img/udendørsicon.svg");
    }
    #begivenheder {
        background-image: url("img/begivenhedericon.svg");
    }
    #indendørs {
        background-image: url("img/indendørsicon.svg");
    }
    #barsel {
        background-image: url("img/barselicon.svg");
    }
    .loungeicon {
        height: 40px;
        width: auto;
        position: absolute;
        right: 0;
        margin-right: 50px;
        margin-top: 450px;
    }
    .banner p {
        position: absolute;
        margin-top: 135px;
        color: white;
        font-size: larger;
        font-weight: 500;
        margin-left: 50px;
    }
    #udvalgte {
        margin-top: 100px;
    }
    .artikler {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    .artikel-img {
        height: auto;
        width: 300px;
        border-radius: 10px;
        margin-top: 20px;
    }
    .artikel-tekst {
        width: 250px;
        background-color: white;
        position: absolute;
        border-radius: 10px;
        margin-top: 370px;
        padding: 10px;
        margin-left: 15px;
    }
    .artikel-tekst h3 {
        color: black;
        margin-top: 10px;
    }
    .kategori-heading {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
        margin-top: 30px;
    }
    .h1-icon {
        height: 125px;
        width: auto;
        margin-top: 50px;
    }
    .hide {
        display: none;
    }
    .måneder-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .måneder {
        background-color: transparent;
        color: #00BF6F;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 30px;
        border-color: #00BF6F;
        width: 120px;
        height: 30px;
        cursor: pointer;
        background-position: 15px 0px;
        background-repeat: no-repeat;
        margin: 10px;
    }
    .måneder:hover {
        background: #00BF6F;
        background-position: 15px 0px;
        background-repeat: no-repeat;
        color: white;
    }
    .green {
        background: #00BF6F;
        color: white;
    }
}

@media screen and (max-width: 1184px) {
    .knap-container {
        margin-right: 100px;
    }
    .loungeicon {
        margin-top: 400px;
    }
}

@media screen and (max-width: 1100px) {
    .loungeicon {
        margin-top: 380px;
    }
}

@media screen and (max-width: 1076px) {
    .btntop {
        margin-top: 300px;
    }
    .knap-container {
        justify-content: center;
        margin: 18px;
    }
    .loungeicon {
        margin-top: 350px;
    }
}

@media screen and (max-width: 975px) {
    .loungeicon {
        margin-top: 325px;
    }
    .artikler {
        justify-content: space-evenly;
    }
}